.font-content {
    font-family: 'Noto Sans TC', serif;
}

.font-serif{
    font-family: ' Noto Serif TC', serif;
}

.mt-top {
    margin-top: 109px;

    @include large {
        margin-top: 122px;
    }
}

.themeSize {
    width: 40px;
    height: 40px;

    @include large {
        width: 80px;
        height: 80px;
    }
}

.text-justify {
    text-align: justify;
}

.borderArea{
    border:2px solid $primary;
    @include large{
        border:3px solid $primary;
    }
}

.rotate-lg {
    transform: translate(-50%, -50%) rotate(-4deg) !important;
}

.rotate-sm {
    transform: translate(-50%, -50%) rotate(-3deg) !important;
}

.rotate-xs {
    transform: rotate(2deg) !important;
}

.-rotate-xs {
    transform: rotate(-2deg) !important;
}

/* 覆蓋掉瀏覽器自帶input 預設記憶背景顏色 start */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 111111s;
    -webkit-transition: color 11111s ease-out, background-color 111111s ease-out;
}

/* 覆蓋掉瀏覽器自帶input 預設記憶背景顏色 end */



