.logoImg{
  width: 53px;
  height: 53px;
}

.searchBox{
  width: 335px;
  height: 55px;

}

.nav-link{
  color:$primary;
  &:hover{
    color:$warning;
  }
}

.navbar-toggler{
  border-radius: 4px;
  .navbar-toggler-icon {
  
    background-image: url(../images/hamMenu.svg);
    
  }
  
}

.decoLine{
  border-top:1px solid $primary;
  @include large{
    border-top:3px solid $primary;
  }
}
