<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 網頁上頭LOGO -->
    <link rel="shortcut icon" href="../assets/images/logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&family=Yeseva+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />




    <title>7TAO 活動訂票網 - 付款完成</title>
</head>

<body>
    <%- include('./layout/header'); -%>


        <section class="processOne mt-top d-flex flex-column">
            <div class="main flex-grow-1 pt-lg-10 pt-6">
                <div class="processBar container mb-lg-9 mb-6">
                    <div class="row">
                        <div class="col-lg-6 mx-auto ">
                            <ol class="payList mt-5 d-flex justify-content-between list-unstyled position-relative">
                                <li class="d-flex flex-column align-items-center gap-lg-2 gap-1">
                                    <p
                                        class="number d-flex justify-content-center align-items-center numberActive mb-0 fs-lg-6 fs-8 fw-bolder bg-primary text-secondary font-serif">
                                        <i class="icofont-verification-check"></i>
                                    </p>
                                    <p class="fw-bold mb-0">訂單確認</p>
                                </li>
                                <li class="d-flex flex-column align-items-center gap-lg-2 gap-1 ">
                                    <p
                                        class="number d-flex justify-content-center align-items-center numberActive mb-0 fs-lg-6 fs-8 fw-bolder font-serif bg-primary text-secondary">
                                        <i class="icofont-verification-check"></i>
                                    </p>
                                    <p class="fw-bold mb-0">結帳付款</p>
                                </li>
                                <li class="d-flex flex-column align-items-center gap-lg-2 gap-1 ">
                                    <p
                                        class="number d-flex justify-content-center align-items-center numberActive mb-0 fs-lg-6 fs-8 fw-bolder font-serif text-secondary bg-primary">
                                        3</p>
                                    <p class="fw-bold mb-0">訂購結果</p>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>

                <div class="confirmDetail container mb-lg-10 mb-9">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">

                            <div class="d-flex flex-column align-items-center">
                                <i class="icofont-check-circled fs-lg-3 fs-4 mb-lg-2 mb-4 "></i>
                                <h2 class="fs-lg-4 fs-5 fw-bolder text-lg-center text-start mb-4">訂購成功</h2>
                            </div>


                            <ul class="detailList mb-0 border-top border-primary border-2  mx-auto mb-4">
                                <li
                                    class="item d-flex align-items-center justify-content-between py-2 border-bottom border-primary border-1">
                                    <p class="fw-bolder mb-0">訂單編號</p>
                                    <p class="mb-0 font-content">892746123</p>
                                </li>
                                <li
                                    class="item d-flex align-items-center justify-content-between py-2 border-bottom border-primary border-1">
                                    <p class="fw-bolder mb-0">訂購時間</p>
                                    <p class="mb-0 font-content">2023/04/28 14:30</p>
                                </li>
                                <li
                                    class="item d-flex align-items-center justify-content-between py-2 border-bottom border-primary border-1">
                                    <p class="fw-bolder mb-0">票券</p>
                                    <p class="mb-0 font-content">改頭換面票（含大改造）$8000</p>
                                </li>
                                <li
                                    class="item d-flex align-items-center justify-content-between py-2 border-bottom border-primary border-1">
                                    <p class="fw-bolder mb-0">取票序號</p>
                                    <p class="mb-0 font-content text-danger fw-bolder">95G54J4434</p>
                                </li>
                                <li
                                    class="item d-flex align-items-center justify-content-between py-2 border-bottom border-primary border-1">
                                    <p class="fw-bolder mb-0">取票號碼</p>
                                    <p class="mb-0 font-content text-danger fw-bolder">04597101</p>
                                </li>

                            </ul>

                            <div class="caution">
                                <p class="font-content text-dark">
                                    請至 7-Eleven 完成取票，請於 ibon 點選【購票/取票/訂房】>【售票系統】>【取票】>【拓元售票系統】。<br>
                                    若您未前往取票，本筆交易仍視為完成，不可取消訂單。<br>
                                    若需退票，請按照退票辦法進行申請。
                                </p>
                            </div>
                        </div>


                    </div>


                </div>



            </div>


        </section>











        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.min.js"
                integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

            <script>
                //每個有 .needs-validation 的 <form> 元素，觸發 submit 事件時，
                //將該元素加入 class 'was-validated'
                $('.needs-validation').each(function (index) {
                    $(this).on('submit', function (e) {
                        e.preventDefault();
                        $(this).addClass('was-validated');
                    });
                });
            </script>






</body>

</html>